/*__________Modal window registration (type1)__________*/

.tipe1 {
    /*auxiliary parameter for separation!*/
    margin: 30px;
    background: #161616;
    display: flex;
    justify-content: center;
    width: 420px;
    height: 367px;
    padding: 30px 40px 40px 40px;
    border-radius: 20px;
    box-shadow: 0px 10px 100px 0px rgba(0, 0, 0, 0.58);
}

.modalWindowRegistration__nameCompany {
    margin: 0;
    display: flex;
    justify-content: center;
    color: #FFF;
    font-family: Arial;
    font-size: 64px;
    font-weight: 700;
    background-color: #161616;
}

.wrapperField {
    margin: 30px;
}

.inputFieldModalWindow {
    background-color: #282828;
    width: 410px;
    height: 23px;
    display: flex;
    padding: 10px 0px 10px 10px;
    border-radius: 10px;
    border: 1px solid #5F5F5F;
}

.inputFieldModalWindow_field1 {
    margin: 30px 0 20px 0;
}

.inputFieldModalWindow_field2 {
    margin: 0 0 20px;
}

.inputData {
    width: 370px;
    background-color: #282828;
    border: none;
    outline: none;
    color: #FFF;
    font-family: Arial;
    font-size: 20px;
    padding: 0 23px 0 20px;
}

.inputButton {
    display: flex;
    justify-content: center;
    margin: 0 0 30px;
}

.button__action {
    display: flex;
    justify-content: center;
    width: 420px;
    height: 55px;
    background-color: #1C40FF;
    border-radius: 10px;
    border-color: #1C40FF;
    cursor: pointer;
    align-items: center;
    color: #FFF;
    font-family: Arial;
    font-size: 24px;
    font-weight: 400;
}

.button__action:hover {
    background-color: #1633cc;
    border-color: #1633cc;
}

.linkHelp {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.linkHelp_link1 {
    color: #FFF;
    font-family: Arial;
    font-size: 14px;
    padding: 0 0 10px;
    text-decoration: none;
}

.linkHelp_link2 {
    color: #FFF;
    font-size: 14px;
    font-family: Arial;
    text-decoration: none;
}

a.linkHelp_link1:hover {
    text-decoration: underline;
    color: #FFF;
}

a.linkHelp_link2:hover {
    text-decoration: underline;
    color: #FFF;
}


/*__________Modal window authorization (type2)__________*/

.tipe2 {
    /*auxiliary parameter for separation!*/
    margin: 30px;
    background: #161616;
    display: flex;
    justify-content: center;
    width: 420px;
    height: 404px;
    padding: 30px 40px 40px 40px;
    border-radius: 20px;
    box-shadow: 0px 10px 100px 0px rgba(0, 0, 0, 0.58);
}

.modalWindowRegistration__nameCompany {
    margin: 0;
    display: flex;
    justify-content: center;
    color: #FFF;
    font-family: Arial;
    font-size: 64px;
    font-weight: 700;
    background-color: #161616;
}

.wrapperField {
    margin: 30px;
}

.inputFieldModalWindow {
    background-color: #282828;
    width: 410px;
    height: 23px;
    display: flex;
    padding: 10px 0px 10px 10px;
    border-radius: 10px;
    border: 1px solid #5F5F5F;
}

.inputFieldModalWindow_field1 {
    margin: 30px 0 20px 0;
}

.inputFieldModalWindow_field2 {
    margin: 0 0 20px;
}

.inputData {
    width: 370px;
    background-color: #282828;
    border: none;
    outline: none;
    color: #FFF;
    font-family: Arial;
    font-size: 20px;
    padding: 0 23px 0 20px;
}

.inputButton {
    display: flex;
    justify-content: center;
    margin: 0 0 30px;
}

.button__action {
    display: flex;
    justify-content: center;
    width: 420px;
    height: 55px;
    background-color: #1C40FF;
    border-radius: 10px;
    border-color: #1C40FF;
    cursor: pointer;
    align-items: center;
    color: #FFF;
    font-family: Arial;
    font-size: 24px;
    font-weight: 400;
}

.button__action:hover {
    background-color: #1633cc;
    border-color: #1633cc;
}

.linkHelp {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.linkHelp_link1 {
    color: #FFF;
    font-family: Arial;
    font-size: 14px;
    padding: 0 0 10px;
    text-decoration: none;
}

.linkHelp_link2 {
    color: #FFF;
    font-size: 14px;
    font-family: Arial;
    text-decoration: none;
}

a.linkHelp_link1:hover {
    text-decoration: underline;
    color: #FFF;
}

a.linkHelp_link2:hover {
    text-decoration: underline;
    color: #FFF;
}