/*__________General style__________*/

body {
    background-color: #282828;
}


/*Content style*/


/*External indentation*/

.contentWrapper__content {
    margin: 30px;
}


/*Main title style*/

.our {
    display: flex;
}

.borderLink_white {
    text-decoration: none;
    color: #FFF;
    border: #FFF;
    border: 2px solid;
    padding: 5px 10px 5px 10px;
}

h1 {
    margin-left: 25px;
    color: #FFF;
    font-family: Arial;
}


/*Second title style*/

h2 {
    margin: 30px;
    color: #FFF;
    font-family: Arial;
}

h3 {
    margin: 30px 0 10px 30px;
    color: #FFF;
    font-family: Arial;
}


/*List style*/

ul {
    margin: 0 0 0 30px;
    list-style-type: none;
}


/*List element style*/

li {
    padding: 0 0 5px 0;
}


/*List link style*/

.contentWrapper__content_white {
    margin: 15px;
    color: #FFF;
    font-family: Arial;
    text-decoration: none;
}