.technicalBlock {
    margin: 30px;
}


/*!before inserting, uncomment the line!*/


/*.wrapperField {
    margin: 30px;
}*/

.inputFieldModalWindow {
    background-color: #282828;
    width: 410px;
    height: 23px;
    display: flex;
    padding: 10px 0px 10px 10px;
    border-radius: 10px;
    border: 1px solid #5F5F5F;
}


/*!before inserting, uncomment the line!*/


/*.inputFieldModalWindow_field1 {
    
    margin: 30px 0 20px 0;
}*/

.inputFieldModalWindow_field2 {
    margin: 0 0 20px;
}

.inputData {
    width: 370px;
    background-color: #282828;
    border: none;
    outline: none;
    color: #FFF;
    font-family: Arial;
    font-size: 20px;
    padding: 0 23px 0 20px;
}


/*__________input promt field__________*/

.inputPromtField {
    display: flex;
    width: 850px;
    height: 34px;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    border: 1px solid #5F5F5F;
    background: #FFF;
}

.inputPromt {
    width: 750px;
    height: 34px;
    border: none;
    outline: none;
    color: #282828;
    font-family: Arial;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}

.imgTextAdd {
    width: 150px;
    display: flex;
    justify-content: end;
}

.iconInputTextField {
    margin: 4px 0 0 17px;
}

.imgButtonn__img,
.textBotton__text {
    all: unset;
    cursor: pointer;
}